<ActionBar text="Page 3">
    <NavigationButton text="Back"></NavigationButton>
    <ActionItem text="Save" ios.position="right" (tap)="save()"></ActionItem>
</ActionBar>
<StackLayout class="form">
    <StackLayout class="input-field">
        <Label class="label" text="First Name"></Label>
        <TextField class="input input-border" [(ngModel)]="firstname"></TextField>
    </StackLayout>
    <StackLayout class="input-field">
        <Label class="label" text="Last Name"></Label>
        <TextField class="input input-border" [(ngModel)]="lastname"></TextField>
    </StackLayout>
</StackLayout>